body {
    background-color: rgb(92, 92, 120);
     background-position: center;
}

 form {
    float: left;
    background-color: aliceblue;
    border: 1px solid black;
    padding:40px 30px 30px 40px;

 }  
  input {
    size: 50px;
  }  
   button color {
    color:aquamarine;
   }
